body {
    font-family: Arial, sans-serif;
    background-color: #fff4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #a83232;
    color: white;
    padding: 20px;
    text-align: center;
}

.contenido {
    padding: 20px;
}

h2 {
    color: #a83232;
}

.imagen {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border: 3px solid #a83232;
    border-radius: 8px;
}

footer {
    background-color: #a83232;
    color: white;
    text-align: center;
    padding: 10px;
}
